# Pandas loc & iloc Method
## loc method : Access a group of rows & columns by label(s) or a bboolean array.
### Syntax : DataFrame.loc[ ]
## iloc method : Integer location-based indexing
### Syntax : DataFrame.iloc[ ]

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\IT's MRK\Desktop\Learning\Pandas\Book3.csv")
df

         Date  Std ID  Class  Study hr  Percentage
0    1/1/2003  1001.0   10.0       2.0        50.0
1    1/2/2003  1002.0   10.0       NaN        60.0
2    1/3/2003     NaN   10.0       3.0        80.0
3    1/4/2003     NaN   11.0       0.0         NaN
4    1/5/2003  1005.0   11.0       4.0         NaN
5    1/6/2003     NaN   11.0      10.0        80.0
6    1/7/2003  1007.0   12.0       4.0        90.0
7    1/8/2003  1008.0   12.0       NaN        60.0
8    1/9/2003  1009.0   12.0       NaN        85.0
9   1/10/2003  1010.0   12.0       NaN         NaN
10  1/11/2003  1011.0   12.0       6.0        50.0
11        NaN     NaN    NaN       NaN         NaN

In [3]:
df.loc[0]  # in 0 lable all the values are display

Date          1/1/2003
Std ID            1001
Class               10
Study hr             2
Percentage          50
Name: 0, dtype: object

In [4]:
df.loc[11]

Date          NaN
Std ID        NaN
Class         NaN
Study hr      NaN
Percentage    NaN
Name: 11, dtype: object

In [5]:
df.loc[[1,2,3]] #list of labels

       Date  Std ID  Class  Study hr  Percentage
1  1/2/2003  1002.0   10.0       NaN        60.0
2  1/3/2003     NaN   10.0       3.0        80.0
3  1/4/2003     NaN   11.0       0.0         NaN

In [6]:
df.loc[4,'Class'] # specific value of specific column

11.0

In [7]:
df.loc[0:3,'Class']  # A slice object with label

0    10.0
1    10.0
2    10.0
3    11.0
Name: Class, dtype: float64

In [8]:
df.loc[0:2,'Percentage']

0    50.0
1    60.0
2    80.0
Name: Percentage, dtype: float64

In [10]:
df.loc[[True,False,True]]

IndexError: Item wrong length 3 instead of 12.

In [11]:
df.index

RangeIndex(start=0, stop=12, step=1)

In [14]:
df.loc[df['Class']<11]

       Date  Std ID  Class  Study hr  Percentage
0  1/1/2003  1001.0   10.0       2.0        50.0
1  1/2/2003  1002.0   10.0       NaN        60.0
2  1/3/2003     NaN   10.0       3.0        80.0

In [18]:
df[['Class']].head()

   Class
0   10.0
1   10.0
2   10.0
3   11.0
4   11.0

In [19]:
df.loc[df['Class']<11,['Percentage']]

   Percentage
0        50.0
1        60.0
2        80.0

In [20]:
df.iloc[0]

Date          1/1/2003
Std ID            1001
Class               10
Study hr             2
Percentage          50
Name: 0, dtype: object

In [21]:
df.iloc[[0]]

       Date  Std ID  Class  Study hr  Percentage
0  1/1/2003  1001.0   10.0       2.0        50.0

In [22]:
df.iloc[:,0]

0      1/1/2003
1      1/2/2003
2      1/3/2003
3      1/4/2003
4      1/5/2003
5      1/6/2003
6      1/7/2003
7      1/8/2003
8      1/9/2003
9     1/10/2003
10    1/11/2003
11          NaN
Name: Date, dtype: object

In [25]:
df.loc[:,0]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [0] of <class 'int'>

In [26]:
df.loc[:,'Class']

0     10.0
1     10.0
2     10.0
3     11.0
4     11.0
5     11.0
6     12.0
7     12.0
8     12.0
9     12.0
10    12.0
11     NaN
Name: Class, dtype: float64

In [27]:
df.iloc[[0,1]]

       Date  Std ID  Class  Study hr  Percentage
0  1/1/2003  1001.0   10.0       2.0        50.0
1  1/2/2003  1002.0   10.0       NaN        60.0

In [28]:
df.iloc[[True,False,True]]

IndexError: Item wrong length 3 instead of 12.