# Pandas DataFrame

#### Pandas DataFrame two dimensional
#### size muteable 
#### Potentially heterogeneous tabular data structure with labeled axes(rows & columns)

In [1]:
import pandas as pd

In [3]:
emt_df = pd.DataFrame()
print(emt_df)

Empty DataFrame
Columns: []
Index: []

### Creating DataFrame using List

In [4]:
lis = [1,2,3,4]
lis

[1, 2, 3, 4]

In [5]:
df = pd.DataFrame(lis)
df

   0
0  1
1  2
2  3
3  4

In [7]:
# Creating DataFrame using List of List 
lis_lis = [[1,2,3,4],[2,3,4,5],[4,5,6,7]]
df = pd.DataFrame(lis_lis)
df

   0  1  2  3
0  1  2  3  4
1  2  3  4  5
2  4  5  6  7

### Creating DataFrame using Dictionaries

In [9]:
dic = {"a":[1,2,3,4,5]}
df = pd.DataFrame(dic)
df

   a
0  1
1  2
2  3
3  4
4  5

In [11]:
dic = {"a":[1,2,3,4,5],"b":[4,5,6,7,8]}
df = pd.DataFrame(dic)
df

   a  b
0  1  4
1  2  5
2  3  6
3  4  7
4  5  8

### Creating DataFrame using List of Dictionaries

In [13]:
ls_dic = [{"a":1,"b":2},{"a":3,"b":4}]
df = pd.DataFrame(ls_dic)
df

   a  b
0  1  2
1  3  4

In [14]:
ls_dic = [{"a":1,"b":2},{"a":3,"b":4},{"c":3,"d":4}]
df = pd.DataFrame(ls_dic)
df

     a    b    c    d
0  1.0  2.0  NaN  NaN
1  3.0  4.0  NaN  NaN
2  NaN  NaN  3.0  4.0

#### Dictionaries of series

In [15]:
dic_sr = {"ID":pd.Series([1,2,3,4]) , "SN" : pd.Series([5,6,7,8])}
df = pd.DataFrame(dic_sr)
df

   ID  SN
0   1   5
1   2   6
2   3   7
3   4   8