In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.25.1'

# Series

#### Series is the data structure in pandas

In [3]:
list_l1=[1,2,-3,6.2,"any string"] # python list

In [4]:
print(list_l1)

[1, 2, -3, 6.2, 'any string']

In [10]:
# Converting list to series 

series1 = pd.Series(list_l1)  # pandas Series

In [9]:
series1

0             1
1             2
2            -3
3           6.2
4    any string
dtype: object

In [12]:
type(series1)

pandas.core.series.Series

In [15]:
series2 = pd.Series([1,2,3,4]) # direct addding list to series function

In [16]:
series2

0    1
1    2
2    3
3    4
dtype: int64

In [17]:
empty_series = pd.Series([])
empty_series

Series([], dtype: float64)

In [24]:
series3 = pd.Series([1,2,3,4], index = ["a",1,"b",0.2])  # changin indexes ,number of indexes must be equal to number of values
series3

a      1
1      2
b      3
0.2    4
dtype: int64

In [25]:
series3 = pd.Series([1,2,3,4], index = ["a",1,"b",0.2], dtype = float)  # changin data Type
series3

a      1.0
1      2.0
b      3.0
0.2    4.0
dtype: float64

In [26]:
series3 = pd.Series([1,2,3,4], index = ["a",1,"b",0.2], dtype = float , name = "Data values")  # changin data Type
series3

a      1.0
1      2.0
b      3.0
0.2    4.0
Name: Data values, dtype: float64

In [27]:
scalar_s = pd.Series(0.5)
scalar_s

0    0.5
dtype: float64

In [28]:
scalar_s = pd.Series(0.5 , index = [1,2,3])
scalar_s

1    0.5
2    0.5
3    0.5
dtype: float64

### Creating series using Dictionary

In [29]:
dict_s = pd.Series({"a":1,"b":2,"c":3})
dict_s

a    1
b    2
c    3
dtype: int64

In [30]:
s1 = pd.Series([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [31]:
s1[3]  # indexing

4

In [32]:
s1[:4]  #Slicing rules are same as python list/ numpy array

0    1
1    2
2    3
3    4
dtype: int64

In [33]:
max(s1)

5

In [34]:
min(s1)

1

In [35]:
s1[s1>3]

3    4
4    5
dtype: int64

In [39]:
s2 = pd.Series([1,2,3,4,5])
s2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [38]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [40]:
s1 + s2

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [41]:
s1 - s2

0    0
1    0
2    0
3    0
4    0
dtype: int64

In [42]:
s1 * s2

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [43]:
s3 = pd.Series([1,2,3])
s3

0    1
1    2
2    3
dtype: int64

In [46]:
s1 +s3  # adding uneual values of series  , NaN means not a number

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64